<svg>
    <path fill="#00ff00" stroke="#000000" stroke-width="150" stroke-linecap="round" d="M  50,50 50,50" />
    <!-- <path fill="#000000" stroke="#000000" stroke&#45;width="100" stroke&#45;linecap="round" d="M  &#45;4000, 100 3000,4000" /> -->
    <!-- <path fill="#000000" stroke="#000000" stroke&#45;width="170" stroke&#45;linecap="round" d="M  100,100 0,0" /> -->
    <!-- <path fill="#000000" stroke="#000000" stroke&#45;width="50" stroke&#45;linecap="round" d="M  100,00 100,100" /> -->
</svg>
