@color: green;
@val: 100px;
@w: 60px;
@wpen: 1px;
@stroke: @wpen solid purple;

.out(){
  outline: @stroke;
  // background: white;
}
.bottom(){
  // border-bottom: @stroke;
  // // background: white;
}

body{
  font-size: 9pt;
  line-height: @val / 6;
  font-family: courier;
  margin: 0px;
}

#top{
  top: 0px;
  left: 0px;
  width: @val * 13;
  height: @val;
  .out();
  overflow: hidden;
}
#left{
  top: @val;
  width: @val;
  height: @val * 17;
  position: absolute;
  .out();
  div:nth-of-type(1),
  div:nth-of-type(3){
    color: green;
    overflow: hidden;
    width: @val;
    height: @val * 4;
    .bottom();
  }
  div:nth-of-type(2){
    color: red;
    width: @val;
    height: @val * 9;
    .bottom();
  }
}

#center{
  width: @val * 11;
  height: @val * 17;
  left: @val;
  top: @val;
  position: absolute;
  .out();
  p{
    width: @val * 5;
    margin: 0px;
    margin-top: @val * 4;
    margin-left: @val * 3;
    text-align: center;
    position: absolute;
  }
  div{
    width: @val;
    float: left;
    position: relative;
    height: @val;
    text-align: center;
    font-size: 9pt;
    overflow: visible;
    .out();
    svg{
      overflow: visible;
   }
  }
}

#right{
  width: @val * 1;
  height: @val * 17;
  left: @val * 12;
  top: @val;
  position: absolute;
  .out();
  div:nth-of-type(1),
  div:nth-of-type(3){
    color: brown;
    width: @val;
    height: @val * 4;
    .bottom();
    overflow: hidden;
  }
  div:nth-of-type(2){
    overflow: hidden;
    color: purple;
    width: @val;
    height: @val * 9;
    .bottom();
  }
}
iframe{
  border:none !important;
}

@chasse: 130px;


.chasse{
  float: left;
  width: @chasse;
  height: 20px;
  // background:red;
}

.cadra{
  margin-left:-@chasse !important;
  transform: scale(.1, .1);
}

.container{
  outline: 1px solid red;
  width: 200mm;
  height: 290mm;
}

.casse:hover{
  background: #ffff76;
}

.texta{
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 4pt;
  line-height: 6pt;
  outline: 1px solid grey;
  display: none;
}

@page{
  margin: 2cm;
}


